.my-img {
  height: 300px;
  object-fit: contain;
}

/* CSS for a dark navbar */
.navbar {
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
  padding: 15px; /* Adjust the padding as needed */
}

.navbar a {
  color: #fff; /* Link color */
  text-decoration: none; /* Remove underlines from links */
  margin: 0 15px; /* Add spacing between links */
}

/* Change the color of links when hovered */
.navbar a:hover {
  color: #ffcc00; /* Change to your desired hover color */
}


.home-header{
  width: 100%;
  height: 60vh;
  display: block;
}
/* CSS for a basic footer */
.footer {
  background-color: #333; /* Footer background color */
  color: #fff; /* Text color in the footer */
  padding:10px; /* Adjust padding as needed */
  text-align: center; /* Center align text */
}
.h1{
  color:blue;
  

}
.banner{
  width: 100%;
  height:100%;
  background-size:cover;
  background-position: center;
  background-color: cornsilk;
}
/* CSS for a basic button */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
}

/* Change button color on hover */
.button:hover {
  background-color: #0056b3; /* Change to your desired hover color */
}




/* CSS for a basic card */
.card {
  width: 75%;/* Adjust the width as needed */
  padding: 20px;
  border-radius: 10px;
  border-color: blueviolet;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: #fff;
  margin: 20px; /* Add margin to create space between cards */
}

.card-body {
  padding: 10px; /* Adjust padding as needed */
}

.card-title {
  font-size: 15px;
  color:whitesmoke /* Title color */
}
card-tit {
  font-size: 15px;
  color:darkred /* Title color */
}

.card-text {
  font-size: 10px;
  color: rebeccapurple; /* Text color */
}

/* You can add more styles for other elements within the card body */


